<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.mapper.member.StudentMapper">
	
	<insert id="insertStudent">
		INSERT INTO Student (studentNumber, department, grade, studentName, id, password, firstResidentId, lastResidentId)
		VALUES (#{studentNumber},#{department},#{grade},#{studentName},#{studentNumber},#{lastResidentId},#{firstResidentId},#{lastResidentId});
	</insert>
	
		<select id="selectStudentByStudentId" resultType="com.portal.domain.member.StudentDto">
		SELECT 
			studentNumber, 
			department,
			grade,
			studentName, 
			id, 
			password,
			firstResidentId,
			lastResidentId			
		 FROM Student
		 WHERE
		 	id = #{studentId}		
	</select>
	
	<select id="selectStudentByStudentNumber" resultType="com.portal.domain.member.StudentDto">
		SELECT 
			studentNumber, 
			department,
			grade,
			studentName, 
			id, 
			password,
			firstResidentId,
			lastResidentId			
		 FROM Student
		 WHERE
		 	studentNumber = #{studentNumber}		
	</select>
	
	<select id="selectStudentAll" resultType="com.portal.domain.member.StudentDto">
		SELECT 
			studentNumber, 
			department,
			grade,
			studentName, 
			id, 
			password,
			firstResidentId,
			lastResidentId			
		 FROM Student	
	</select>
	
	<select id="selectStudentById" resultType="com.portal.domain.member.StudentDto">
		SELECT 
			studentNumber, 
			studentName, 
			id, 
			password			
		 FROM Student
		 WHERE id = #{id}
	</select>

</mapper>