<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.mapper.member.StudentMapper">

	<select id="selectMinStudentNumberByDepartmentId" resultType="com.portal.domain.member.StudentDto">
		SELECT studentNumber FROM Student
		WHERE studentNumber >= #{minStudentNumber}
		LIMIT 0,1
	</select>
	
	<insert id="insertStudent">
		INSERT INTO Student (studentNumber, departmentId, grade, studentName, id, password, firstResidentId, lastResidentId)
		VALUES (#{studentNumber},#{departmentId},#{grade},#{studentName},#{studentNumber},#{password},#{firstResidentId},#{lastResidentId});
	</insert>
	
	
	<select id="selectStudentByStudentId" resultMap="selectStudentByStudentIdMap">
		SELECT 
			s.studentNumber, 
			s.studentName, 
			s.grade,
			s.id, 
			s.password,
			s.firstResidentId,
			s.lastResidentId,
			s.departmentId,
            d.name departmentName,
            d.collegeId,
            c.name collegeName,
            c.organizationId,
            o.name organizationName
		 FROM Student s
         LEFT JOIN Department d ON s.departmentId = d.id
         LEFT JOIN College c ON c.id = d.collegeId
         LEFT JOIN Organization o ON o.id = c.organizationId
		 WHERE s.id = #{studentId}
	</select>
	
	<resultMap type="com.portal.domain.member.StudentDto" id="selectStudentByStudentIdMap">
		<id column="studentNumber" property="studentNumber"/>
		<result column="studentName" property="studentName"/>
		<result column="grade" property="grade"/>
		<result column="id" property="id"/>
		<result column="password" property="password"/>
		<result column="firstResidentId" property="firstResidentId"/>
		<result column="lastResidentId" property="lastResidentId"/>
		<result column="departmentId" property="departmentId"/>
		<association property="department" javaType="com.portal.domain.course.DepartmentDto">
			<id column="departmentId" property="id"/>
			<result column="departmentName" property="name"/>
			<result column="collegeId" property="collegeId"/>
			<association property="college" javaType="com.portal.domain.course.CollegeDto">
				<id column="collegeId" property="id"/>
				<result column="collegeName" property="name"/>
				<result column="organizationId" property="organizationId"/>
				<association property="organization" javaType="com.portal.domain.course.OrganizationDto">
					<id column="organizationId" property="id"/>
					<result column="organizationName" property="name"/>
				</association>
			</association>
		</association>
	</resultMap>
	
<!-- 	<select id="selectStudentByStudentNumber" resultType="com.portal.domain.member.StudentDto">
		SELECT 
			studentNumber, 
			department,
			grade,
			studentName, 
			id, 
			password,
			firstResidentId,
			lastResidentId			
		 FROM Student
		 LEFT J
		 WHERE
		 	studentNumber = #{studentNumber}		
	</select> -->

	<select id="selectStudentByStudentNumber" resultMap="selectStudentByStudentNumberMap">
		SELECT 
			s.studentNumber, 
			s.studentName, 
			s.grade,
			s.id, 
			s.password,
			s.firstResidentId,
			s.lastResidentId,
			s.departmentId,
            d.name departmentName,
            d.collegeId,
            c.name collegeName,
            c.organizationId,
            o.name organizationName
		 FROM Student s
         LEFT JOIN Department d ON s.departmentId = d.id
         LEFT JOIN College c ON c.id = d.collegeId
         LEFT JOIN Organization o ON o.id = c.organizationId
         WHERE
		 studentNumber = #{studentNumber}	
	</select>
	
	<resultMap type="com.portal.domain.member.StudentDto" id="selectStudentByStudentNumberMap">
		<id column="studentNumber" property="studentNumber"/>
		<result column="studentName" property="studentName"/>
		<result column="grade" property="grade"/>
		<result column="id" property="id"/>
		<result column="password" property="password"/>
		<result column="firstResidentId" property="firstResidentId"/>
		<result column="lastResidentId" property="lastResidentId"/>
		<result column="departmentId" property="departmentId"/>
		<association property="department" javaType="com.portal.domain.course.DepartmentDto">
			<id column="departmentId" property="id"/>
			<result column="departmentName" property="name"/>
			<result column="collegeId" property="collegeId"/>
			<association property="college" javaType="com.portal.domain.course.CollegeDto">
				<id column="collegeId" property="id"/>
				<result column="collegeName" property="name"/>
				<result column="organizationId" property="organizationId"/>
				<association property="organization" javaType="com.portal.domain.course.OrganizationDto">
					<id column="organizationId" property="id"/>
					<result column="organizationName" property="name"/>
				</association>
			</association>
		</association>
	</resultMap>
	
	<select id="selectStudentAll" resultMap="selectStudentAllMap">
		SELECT 
			s.studentNumber, 
			s.studentName, 
			s.grade,
			s.id, 
			s.password,
			s.firstResidentId,
			s.lastResidentId,
			s.departmentId,
            d.name departmentName,
            d.collegeId,
            c.name collegeName,
            c.organizationId,
            o.name organizationName
		 FROM Student s
         LEFT JOIN Department d ON s.departmentId = d.id
         LEFT JOIN College c ON c.id = d.collegeId
         LEFT JOIN Organization o ON o.id = c.organizationId		
	</select>
	
	<resultMap type="com.portal.domain.member.StudentDto" id="selectStudentAllMap">
		<id column="studentNumber" property="studentNumber"/>
		<result column="studentName" property="studentName"/>
		<result column="grade" property="grade"/>
		<result column="id" property="id"/>
		<result column="password" property="password"/>
		<result column="firstResidentId" property="firstResidentId"/>
		<result column="lastResidentId" property="lastResidentId"/>
		<result column="departmentId" property="departmentId"/>
		<association property="department" javaType="com.portal.domain.course.DepartmentDto">
			<id column="departmentId" property="id"/>
			<result column="departmentName" property="name"/>
			<result column="collegeId" property="collegeId"/>
			<association property="college" javaType="com.portal.domain.course.CollegeDto">
				<id column="collegeId" property="id"/>
				<result column="collegeName" property="name"/>
				<result column="organizationId" property="organizationId"/>
				<association property="organization" javaType="com.portal.domain.course.OrganizationDto">
					<id column="organizationId" property="id"/>
					<result column="organizationName" property="name"/>
				</association>
			</association>
		</association>
	</resultMap>
	
	
	<select id="selectStudentById" resultType="com.portal.domain.member.StudentDto">
		SELECT 
			studentNumber, 
			studentName, 
			id, 
			password			
		 FROM Student
		 WHERE id = #{id}
	</select>

</mapper>