<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.mapper.member.StudentMapper">
	<select id="selectStudentById" resultType="com.portal.domain.member.StudentDto">
		SELECT 
			studentNumber, 
			studentName, 
			id, 
			password
		 FROM Student
		 WHERE id = #{id}
	</select>

</mapper>