<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.mapper.sugang.SugangMapper">

	

	<select id="selectInfoTextByInfoId" resultType="string">
		SELECT text
		FROM ClassInfo
		WHERE id = #{id}
	</select>
	

	<select id="selectInfoAll" resultType="com.portal.domain.sugang.InfoDto">
		SELECT 
			id,
			campus,
			title,
			text,
			writer,
			inserted
		FROM ClassInfo
	</select>
	
	<select id="selectCourseBySearchDto" resultMap="selectCourseBySearchDtoMap">
		SELECT 
            c.grade,
            i.courseClassification,
			c.classCode,
			c.classNumber,
			i.courseName,
			i.credit,
			i.theory,
			i.practice,
			c.maxPersonnel,
            d.name,
            c.year,
            c.semester,
            (SELECT t.time FROM CourseTime t WHERE t.id = c.startTimeId) startTime,
			(SELECT t.time FROM CourseTime t WHERE t.id = c.endTimeId) endTime,
			c.classroom
		FROM Course	c
		LEFT JOIN Department d ON c.departmentId = d.id
		LEFT JOIN CourseInfo i ON c.classNumber = i.classNumber	
<!--         WHERE department.organization.name = #{organization} -->
		WHERE year = #{year}
        AND semester = #{semester}
        <if test="grade != 0">
        	AND grade = #{grade}
        </if>
<!--         AND courseClassification = #{courseClassification}	 -->
	</select>
	
		<resultMap type="com.portal.domain.course.CourseDto" id="selectCourseBySearchDtoMap">
		<id column="classCode" property="classCode"></id>
		<result column="grade" property="grade"/>
		<result column="classNumber" property="classNumber"/>
		<result column="maxPersonnel" property="maxPersonnel"/>
		<result column="year" property="year"/>
		<result column="semester" property="semester"/>
		<result column="startTime" property="startTime"/>
		<result column="endTime" property="endTime"/>
		<result column="classroom" property="classroom"/>
		
		<association property="department" javaType="com.portal.domain.course.DepartmentDto">
			<result column="name" property="name"/>
		</association>
		
		<association property="courseInfo" javaType="com.portal.domain.course.CourseInfoDto">
			<result column="courseClassification" property="courseClassification"/>
			<result column="courseName" property="courseName"/>
			<result column="credit" property="credit"/>
			<result column="theory" property="theory"/>
			<result column="practice" property="practice"/>
		</association>
	</resultMap>



	<select id="selectCourseAll" resultMap="selectCourseAllMap">
		SELECT 
            c.grade,
            i.courseClassification,
			c.classCode,
			c.classNumber,
			i.courseName,
			i.credit,
			i.theory,
			i.practice,
			c.maxPersonnel,
            d.name,
            c.year,
            c.semester,
            (SELECT t.time FROM CourseTime t WHERE t.id = c.startTimeId) startTime,
			(SELECT t.time FROM CourseTime t WHERE t.id = c.endTimeId) endTime,
			c.classroom
		FROM Course	c
		LEFT JOIN Department d ON c.departmentId = d.id
		LEFT JOIN CourseInfo i ON c.classNumber = i.classNumber	
	</select>
	
	<resultMap type="com.portal.domain.course.CourseDto" id="selectCourseAllMap">
		<id column="classCode" property="classCode"></id>
		<result column="grade" property="grade"/>
		<result column="classNumber" property="classNumber"/>
		<result column="maxPersonnel" property="maxPersonnel"/>
		<result column="year" property="year"/>
		<result column="semester" property="semester"/>
		<result column="startTime" property="startTime"/>
		<result column="endTime" property="endTime"/>
		<result column="classroom" property="classroom"/>
		
		<association property="department" javaType="com.portal.domain.course.DepartmentDto">
			<result column="name" property="name"/>
		</association>
		
		<association property="courseInfo" javaType="com.portal.domain.course.CourseInfoDto">
			<result column="courseClassification" property="courseClassification"/>
			<result column="courseName" property="courseName"/>
			<result column="credit" property="credit"/>
			<result column="theory" property="theory"/>
			<result column="practice" property="practice"/>
		</association>
	</resultMap>	
	
</mapper>