<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.mapper.sugang.SugangMapper">

	

	<select id="selectInfoTextByInfoId" resultType="string">
		SELECT text
		FROM ClassInfo
		WHERE id = #{id}
	</select>
	

	<select id="selectInfoAll" resultType="com.portal.domain.sugang.InfoDto">
		SELECT 
			id,
			campus,
			title,
			text,
			writer,
			inserted
		FROM ClassInfo
	</select>
	
	<select id="selectCourseBySearchDto" resultType="com.portal.domain.course.CourseDto">
		SELECT 
			classCode,
			classNumber,
			courseName,
            organization,
            year,
            semester,
            grade,
            courseClassification
		FROM Course
        WHERE organization = #{organization}
		AND year = #{year}
        AND semester = #{semester}
        <if test="grade != null">
        	AND grade = #{grade}
        </if>
<!--         AND courseClassification = #{courseClassification}	 -->
	</select>
		
	<select id="selectCourseAll" resultType="com.portal.domain.course.CourseDto">
		SELECT 
			classCode,
			classNumber,
			courseName
		FROM Course
	</select>

</mapper>