<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.mapper.course.DepartmentMapper">

	<select id="selectDepartmentByCollegeId" resultType="com.portal.domain.course.DepartmentDto">
		SELECT
			id,
            name,
            contact,
            collegeId
		FROM Department
		<if test="collegeId != null and collegeId != 0">
			WHERE collegeId = #{collegeId}
		</if>
	</select>


	<select id="selectCollegeByOrganizationId" resultType="com.portal.domain.course.CollegeDto">
		SELECT
			id,
            name,
            contact,
            organizationId
		FROM College
		<if test="organizationId != null and organizationId != 0">
		WHERE organizationId = #{organizationId}
		</if>
	</select>


	<select id="selectOrganizationAll" resultType="com.portal.domain.course.OrganizationDto">
		SELECT
			id,
            name,
            contact
		FROM Organization
	</select>

	<select id="selectDepartmentAll" resultMap="selectDepartmentAllMap">
		SELECT
			d.id departmentId,
            d.name departmentName,
            d.collegeId,
            c.name collegeName,
            c.organizationId,
            o.name organizationName
		 FROM Department d
         LEFT JOIN College c ON c.id = d.collegeId
         LEFT JOIN Organization o ON o.id = c.organizationId		
	</select>
	
	<resultMap type="com.portal.domain.course.DepartmentDto" id="selectDepartmentAllMap">
		<id column="departmentId" property="id"/>
		<result column="departmentName" property="name"/>
		<result column="collegeId" property="collegeId"/>
		<association property="college" javaType="com.portal.domain.course.CollegeDto">
			<id column="collegeId" property="id"/>
			<result column="collegeName" property="name"/>
			<result column="organizationId" property="organizationId"/>
			<association property="organization" javaType="com.portal.domain.course.OrganizationDto">
				<id column="organizationId" property="id"/>
				<result column="organizationName" property="name"/>
			</association>
		</association>	
	</resultMap>

	<select id="selectDepartmentIdByName" resultType="com.portal.domain.course.DepartmentDto">
		SELECT
			id,
			name,
			collegeId
		FROM Department
		WHERE name = #{departmentName}
	</select>
	
	<select id="selectOrganizationById" resultType="com.portal.domain.course.OrganizationDto">
		SELECT 
			id,
			name
		FROM Organization
		WHERE id = #{id}
	</select>
	
	<select id="selectCollegeById" resultType="com.portal.domain.course.CollegeDto">
		SELECT 
			id,
			name,
			organizationId
		FROM College
		WHERE id = #{id}
	</select>
	

<!-- 	<select id="selectDepartmentById" resultType="com.portal.domain.course.DepartmentDto">
		SELECT 
			id,
			name,
			collegeId
		FROM Department
		WHERE id = #{id}
	</select> -->
	
		<select id="selectDepartmentById" resultMap="selectDepartmentByIdMap">
		SELECT
			d.id departmentId
            d.name departmentName,
            d.collegeId,
            c.name collegeName,
            c.organizationId,
            o.name organizationName
		 FROM Department d
         LEFT JOIN College c ON c.id = d.collegeId
         LEFT JOIN Organization o ON o.id = c.organizationId	
         WHERE id = #{id}	
	</select>
	
	<resultMap type="com.portal.domain.course.DepartmentDto" id="selectDepartmentByIdMap">
		<id column="departmentId" property="id"/>
		<result column="departmentName" property="name"/>
		<result column="collegeId" property="collegeId"/>
		<association property="college" javaType="com.portal.domain.course.CollegeDto">
			<id column="collegeId" property="id"/>
			<result column="collegeName" property="name"/>
			<result column="organizationId" property="organizationId"/>
			<association property="organization" javaType="com.portal.domain.course.OrganizationDto">
				<id column="organizationId" property="id"/>
				<result column="organizationName" property="name"/>
			</association>
		</association>	
	</resultMap>



<!-- 	<select id="selectDepartmentById" resultType="com.portal.domain.course.DepartmentDto">
		SELECT 
			d.id,
		    d.name department,
		    c.name college,
		    o.name organization
		FROM Department d
		JOIN College c ON d.collegeId = c.id
		JOIN Organization o ON c.organizationId = o.id
		WHERE id = #{id}
	</select> -->
	
	
</mapper>