<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.mapper.courseSignUp.CourseSignUpMapper">
	
	<select id="selectCountSignUpByStudentNumber" resultType="int">
		SELECT count(*)
		FROM CourseSignUp
		WHERE studentNumber = #{studentNumber}
		AND signUp = 1
	</select>
	
	<select id="selectCountDesireByStudentNumber" resultType="int">
		SELECT count(*)
		FROM CourseSignUp
		WHERE studentNumber = #{studentNumber}
	</select>
	
	<delete id="deleteCourseSignUpByClassCode">
		DELETE FROM CourseSignUp
		WHERE classCode = #{classCode}
	</delete>

	<delete id="deleteSignUpByStudentNumber">
		DELETE FROM CourseSignUp
		WHERE studentNumber = #{studentNumber}
	</delete>

	<update id="updateCourseSignUpFalse">
		UPDATE CourseSignUp
		SET 
			signUp = '0',
			signUpInserted = null
		WHERE studentNumber = #{studentNumber}
		AND classCode = #{classCode}
	</update>

	<update id="updateCourseSignUpTrue">
		UPDATE CourseSignUp
		SET 
			signUp = '1',
			signUpInserted = now()
		WHERE studentNumber = #{studentNumber}
		AND classCode = #{classCode}
	</update>

	<delete id="deleteCourseSignUp">
	DELETE FROM CourseSignUp
	WHERE studentNumber = #{studentNumber}
	AND classCode = #{classCode}
	</delete>


	<select id="selectSignUpAllByStudentNumber" resultMap="selectSignUpAllByStudentNumberMap">
		SELECT 
            c.grade,
            i.courseClassification,
			c.classCode,
			c.classNumber,
			i.courseName,
			i.credit,
			i.theory,
			i.practice,
			c.maxPersonnel,
            c.year,
            c.semester,
			GROUP_CONCAT(DISTINCT cs.day,' ',
			(SELECT ct.time FROM CourseTime ct WHERE ct.id = cs.startTimeId),'-',
			(SELECT ct.time FROM CourseTime ct WHERE ct.id = cs.endTimeId)) day,
			c.classroom,
			c.departmentId,
            d.name departmentName,
            d.collegeId,
            l.name collegeName,
            l.organizationId,
            o.name organizationName,
            c.professorNumber,
            p.name professorName,
            p.contact professorContact,
            p.email professorEmail,
            p.homepage professorHomepage,
            p.inserted professorInserted,
            p.departmentId professorDepartmentId,
            pd.name professorDepartmentName,
            pd.collegeId professorCollegeId,
            pl.name professorCollegeName,
            pl.organizationId professorOragnizationId,
            po.name professorOrganizationName,           
            if(s.signUp, 'true', 'false') signUp
		FROM Course	c
		LEFT JOIN Department d ON c.departmentId = d.id
		LEFT JOIN College l ON l.id = d.collegeId
        LEFT JOIN Organization o ON o.id = l.organizationId
		LEFT JOIN CourseInfo i ON c.classNumber = i.classNumber	
		LEFT JOIN CourseSchedule cs ON c.classCode = cs.classCode
		LEFT JOIN Professor p ON c.professorNumber = p.professorNumber
		LEFT JOIN Department pd ON p.departmentId = pd.id
		LEFT JOIN College pl ON pl.id = pd.collegeId
        LEFT JOIN Organization po ON po.id = pl.organizationId
		JOIN CourseSignUp s ON c.classCode = s.classCode
		WHERE s.studentNumber = #{studentNumber}
		AND s.signUp = '1'
		GROUP BY c.classCode
		ORDER BY c.classCode
		LIMIT #{startNum}, #{count}
	</select>
	
	<resultMap type="com.portal.domain.course.CourseDto" id="selectSignUpAllByStudentNumberMap">
		<id column="classCode" property="classCode"></id>
		<result column="grade" property="grade"/>
		<result column="classNumber" property="classNumber"/>
		<result column="maxPersonnel" property="maxPersonnel"/>
		<result column="year" property="year"/>
		<result column="semester" property="semester"/>
		<result column="classroom" property="classroom"/>
		<result column="desire" property="desire"/>
		<result column="signUp" property="signUp"/>
		<result column="departmentId" property="departmentId"/>
		<result column="day" property="dayTime"/>
		
		<association property="department" javaType="com.portal.domain.course.DepartmentDto">
			<id column="departmentId" property="id"/>
			<result column="departmentName" property="name"/>
			<result column="collegeId" property="collegeId"/>
			<association property="college" javaType="com.portal.domain.course.CollegeDto">
				<id column="collegeId" property="id"/>
				<result column="collegeName" property="name"/>
				<result column="organizationId" property="organizationId"/>
				<association property="organization" javaType="com.portal.domain.course.OrganizationDto">
					<id column="organizationId" property="id"/>
					<result column="organizationName" property="name"/>
				</association>
			</association>
		</association>
		
		<association property="courseInfo" javaType="com.portal.domain.course.CourseInfoDto">
			<result column="courseClassification" property="courseClassification"/>
			<result column="courseName" property="courseName"/>
			<result column="credit" property="credit"/>
			<result column="theory" property="theory"/>
			<result column="practice" property="practice"/>
		</association>
		
		<association property="professor" javaType="com.portal.domain.member.ProfessorDto">
			<id column="professorNumber" property="professorNumber"/>
			<result column="professorName" property="name"/>
			<result column="professorContact" property="contact"/>
			<result column="professorEmail" property="email"/>
			<result column="professorHomepage" property="homepage"/>
			<result column="professorInserted" property="inserted"/>
			<result column="professorDepartmentId" property="departmentId"/>
			<association property="department" javaType="com.portal.domain.course.DepartmentDto">
				<id column="departmentId" property="id"/>
				<result column="professorDepartmentName" property="name"/>
				<result column="professorCollegeId" property="collegeId"/>
				<association property="college" javaType="com.portal.domain.course.CollegeDto">
					<id column="professorCollegeId" property="id"/>
					<result column="professorCollegeName" property="name"/>
					<result column="professorOragnizationId" property="organizationId"/>
					<association property="organization" javaType="com.portal.domain.course.OrganizationDto">
						<id column="professorOragnizationId" property="id"/>
						<result column="professorOrganizationName" property="name"/>
					</association>
				</association>	
			</association>
		</association>
	</resultMap>


	<select id="selectCourseByStudentNumber" resultMap="selectCourseByStudentNumberMap">
		SELECT 
            c.grade,
            i.courseClassification,
			c.classCode,
			c.classNumber,
			i.courseName,
			i.credit,
			i.theory,
			i.practice,
			c.maxPersonnel,
            c.year,
            c.semester,
			c.classroom,
			c.departmentId,
            d.name departmentName,
            d.collegeId,
            l.name collegeName,
            l.organizationId,
            o.name organizationName,
            GROUP_CONCAT(DISTINCT cs.day,' ',
			(SELECT ct.time FROM CourseTime ct WHERE ct.id = cs.startTimeId),'-',
			(SELECT ct.time FROM CourseTime ct WHERE ct.id = cs.endTimeId)) day,
            if(ifnull(s.classCode,0), 'true', 'false') desire,
            if(s.signUp, 'true', 'false') signUp,
            (SELECT count(*) FROM CourseSignUp u GROUP BY u.classCode HAVING u.classCode = c.classCode) countDesire,
            (SELECT count(*) FROM CourseSignUp u WHERE u.signUp = 1 GROUP BY u.classCode HAVING u.classCode = c.classCode) countSignUp,
            c.professorNumber,
            p.name professorName,
            p.contact professorContact,
            p.email professorEmail,
            p.homepage professorHomepage,
            p.inserted professorInserted,
            p.departmentId professorDepartmentId,
            pd.name professorDepartmentName,
            pd.collegeId professorCollegeId,
            pl.name professorCollegeName,
            pl.organizationId professorOragnizationId,
            po.name professorOrganizationName
		FROM Course	c
		LEFT JOIN Department d ON c.departmentId = d.id
		LEFT JOIN College l ON l.id = d.collegeId
        LEFT JOIN Organization o ON o.id = l.organizationId
		LEFT JOIN CourseInfo i ON c.classNumber = i.classNumber
		LEFT JOIN CourseSchedule cs ON c.classCode = cs.classCode
		LEFT JOIN Professor p ON c.professorNumber = p.professorNumber
		LEFT JOIN Department pd ON p.departmentId = pd.id
		LEFT JOIN College pl ON pl.id = pd.collegeId
        LEFT JOIN Organization po ON po.id = pl.organizationId	
		JOIN CourseSignUp s ON c.classCode = s.classCode
		WHERE s.studentNumber = #{studentNumber}
		GROUP BY c.classCode
		ORDER BY c.classCode
		LIMIT #{startNum}, #{count}
	</select>
	
	<resultMap type="com.portal.domain.course.CourseDto" id="selectCourseByStudentNumberMap">
		<id column="classCode" property="classCode"></id>
		<result column="grade" property="grade"/>
		<result column="classNumber" property="classNumber"/>
		<result column="maxPersonnel" property="maxPersonnel"/>
		<result column="year" property="year"/>
		<result column="semester" property="semester"/>
		<result column="classroom" property="classroom"/>
		<result column="desire" property="desire"/>
		<result column="signUp" property="signUp"/>
		<result column="countDesire" property="countDesire"/>
		<result column="countSignUp" property="countSignUp"/>
		<result column="departmentId" property="departmentId"/>
		<result column="day" property="dayTime"/>
		
		<association property="department" javaType="com.portal.domain.course.DepartmentDto">
			<id column="departmentId" property="id"/>
			<result column="departmentName" property="name"/>
			<result column="collegeId" property="collegeId"/>
			<association property="college" javaType="com.portal.domain.course.CollegeDto">
				<id column="collegeId" property="id"/>
				<result column="collegeName" property="name"/>
				<result column="organizationId" property="organizationId"/>
				<association property="organization" javaType="com.portal.domain.course.OrganizationDto">
					<id column="organizationId" property="id"/>
					<result column="organizationName" property="name"/>
				</association>
			</association>
		</association>
		
		<association property="courseInfo" javaType="com.portal.domain.course.CourseInfoDto">
			<result column="courseClassification" property="courseClassification"/>
			<result column="courseName" property="courseName"/>
			<result column="credit" property="credit"/>
			<result column="theory" property="theory"/>
			<result column="practice" property="practice"/>
		</association>
		
		<association property="professor" javaType="com.portal.domain.member.ProfessorDto">
			<id column="professorNumber" property="professorNumber"/>
			<result column="professorName" property="name"/>
			<result column="professorContact" property="contact"/>
			<result column="professorEmail" property="email"/>
			<result column="professorHomepage" property="homepage"/>
			<result column="professorInserted" property="inserted"/>
			<result column="professorDepartmentId" property="departmentId"/>
			<association property="department" javaType="com.portal.domain.course.DepartmentDto">
				<id column="departmentId" property="id"/>
				<result column="professorDepartmentName" property="name"/>
				<result column="professorCollegeId" property="collegeId"/>
				<association property="college" javaType="com.portal.domain.course.CollegeDto">
					<id column="professorCollegeId" property="id"/>
					<result column="professorCollegeName" property="name"/>
					<result column="professorOragnizationId" property="organizationId"/>
					<association property="organization" javaType="com.portal.domain.course.OrganizationDto">
						<id column="professorOragnizationId" property="id"/>
						<result column="professorOrganizationName" property="name"/>
					</association>
				</association>	
			</association>
		</association>
		
<!-- 		<collection property="courseSchedule" javaType="java.util.ArrayList" ofType="com.portal.domain.course.CourseScheduleDto">
			<result column="classCode" property="classCode"/>
			<result column="day" property="day"/>
			<result column="startTime" property="startTime"/>
			<result column="endTime" property="endTime"/>
		</collection> -->
	</resultMap>

	<select id="selectClassCodeByStudentNumber" resultType="integer">
		SELECT classCode
		FROM CourseSignUp
		WHERE studentNumber = #{studentNumber}
	</select>

	<select id="selectCourseSignUpById" resultType="com.portal.domain.course.CourseSignUpDto">
		SELECT 
			studentNumber,
		    classCode,
		    inserted,
		    if(signUp, 'true', 'false') signUp,
		    signUpInserted
		FROM CourseSignUp
		WHERE studentNumber = #{studentNumber}
		AND classCode = #{classCode}
	</select>

	<insert id="insertCourseSignUp">
		INSERT INTO CourseSignUp (studentNumber, classCode)
		VALUES (#{studentNumber},#{classCode})
	</insert>
	
</mapper>