<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.mapper.admin.AdminMapper">
	
	<select id="selectAdminMemberById" resultMap="selectAdminMemberByIdMap">
		SELECT 
			m.id, 
			m.name, 
			m.adminMemberId, 
			m.password, 
			a.authority,
			f.id fileId, 
			f.name fileName
		FROM AdminMember m 
		JOIN AdminAuthority a ON m.id = a.adminId
		LEFT JOIN File f ON m.id = f.memberId
		WHERE m.id = #{id}
	</select>
	
 	<resultMap type="com.portal.domain.admin.AdminMemberDto" id="selectAdminMemberByIdMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="adminMemberId" property="adminMemberId"/>
		<result column="password" property="password"/>
		<collection property="authorityList" ofType="string">
			<result column="authority" property="authority"/>
		</collection>
		<collection property="fileList" javaType="java.util.ArrayList" ofType="com.portal.domain.member.FileDto">
			<id column="fileId" property="id"></id>
			<result column="id" property="memberId"/>
			<result column="fileName" property="name"/>
		</collection>	
	</resultMap>


	<delete id="deleteFileByBoardIdAndFileName">
		DELETE FROM File 
		WHERE memberId = #{memberId}
		AND name = #{fileName}
	</delete>

	<insert id="insertFile" >
	INSERT INTO File (memberId, name)
	VALUES (#{id}, #{fileName})
	</insert>
	
	<!-- adminMember -->
	<delete id="deleteAdminMemberById">
		DELETE FROM AdminMember 
		WHERE id = #{id};
	</delete>

	<delete id="deleteAdminAuthorityByAdminId">
		DELETE FROM AdminAuthority 
		WHERE adminId = #{id};
	</delete>

	<update id="updateAdminMember">
		UPDATE AdminMember
		SET
			name = #{name},
			adminMemberId = #{adminMemberId},
			password = #{password}
		WHERE
			id = #{id}
	</update>

	<select id="selectAdminMemberByUserName" resultMap="adminMemberByUserName">
		SELECT 
			m.id, 
			m.name, 
			m.adminMemberId, 
			m.password, 
			a.authority,
			f.id fileId, 
			f.name fileName
		FROM AdminMember m 
		JOIN AdminAuthority a ON m.id = a.adminId
		LEFT JOIN File f ON m.id = f.memberId
		WHERE adminMemberId = #{username}
	</select>
	
 	<resultMap type="com.portal.domain.admin.AdminMemberDto" id="adminMemberByUserName">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="adminMemberId" property="adminMemberId"/>
		<result column="password" property="password"/>
		<collection property="authorityList" ofType="string">
			<result column="authority" property="authority"/>
		</collection>
		<collection property="fileList" javaType="java.util.ArrayList" ofType="com.portal.domain.member.FileDto">
			<id column="fileId" property="id"></id>
			<result column="id" property="memberId"/>
			<result column="fileName" property="name"/>
		</collection>	
	</resultMap>

	
	
	<select id="selectAdminMemberAll" resultMap="adminMemberAll">
		SELECT m.id, m.name, adminMemberId, password, authority 
		FROM AdminMember m 
		JOIN AdminAuthority a ON m.id = a.adminId
	</select>
	
 	<resultMap type="com.portal.domain.admin.AdminMemberDto" id="adminMemberAll">
	<id column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="adminMemberId" property="adminMemberId"/>
	<result column="password" property="password"/>
	<collection property="authorityList" ofType="string">
		<result column="authority" property="authority"/>
	</collection>
	</resultMap> 


	<select id="selectLastAdminMemberById" resultType="int">
		SELECT MAX(id) FROM AdminMember
	</select>

	<insert id="insertAdminAuthority">
		INSERT INTO AdminAuthority (adminId, authority)
		VALUES (#{adminId},#{authority})	
	</insert>

	<insert id="insertAdminMember">
		INSERT INTO AdminMember (id, name, adminMemberId, password)
		VALUES (#{id}, #{name}, #{adminMemberId}, #{password})
	</insert>


</mapper>