<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.mapper.admin.AdminLogMapper">
		
	<!-- adminLog -->
<!-- 	<insert id="insertAdminLog">
		INSERT INTO AdminLog (adminMemberId, log)
		VALUES (#{adminMemberId},#{log})		
	</insert> -->
	
	<select id="selectAdminLogAll" resultType="com.portal.domain.admin.AdminLogDto">
		SELECT 
			l.id,
			menu,
			category,
			l.adminId,
			m.name adminName,
			log,
			inserted
		FROM AdminLog l
		JOIN AdminMember m ON l.adminId = m.id
		ORDER BY l.id DESC
	</select>
	
	<insert id="insertAdminLogById">
		INSERT INTO AdminLog (adminId, log, menu, category)
		VALUES (#{adminId},#{log},#{menu},#{category})		
	</insert>
	
<!-- 	<insert id="insertAdminLog">
		INSERT INTO AdminLog (adminMemberId, log, menu, category)
		VALUES (#{adminMemberId},#{log},#{menu},#{category})		
	</insert> -->
	
</mapper>